<!--  
  File Name:     /partials/bottom_nav.ejs
  Student Name:  Yuen Kwan LI
  Student ID:    301228849
  Date:          05-FEB-2023  
-->

<!-- Bottom Nav -->
  <footer>
    <nav class="navbar sticky-bottom bg-body-tertiary">
      <p class="display-10 navbar-text">&copy; Copyright 2023. All Rights reserved.</p>
    </nav>
  </footer>