<!--  
  File Name:     /partials/footer.ejs
  Student Name:  Yuen Kwan LI
  Student ID:    301228849
  Date:          05-FEB-2023  
-->

<!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/scripts/app.js"></script>
</body>
</html>