/* 
  File Name:     /content/app.css 
  Student Name:  Yuen Kwan LI
  Student ID:    301228849
  Date:          05-FEB-2023 
*/


body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding-left:  1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

a {
  color: #00B7FF;
}

h1 {
   text-align: center;
   color: #a8a8a8;
}

h6 {
  padding-left: 0em;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.left {
  width: 50%;
  float: left;
}

.right { 
  margin-left: 50%;
  float: center;
}

.left-60 {
  float: center;
  width: 60%;
  margin-bottom: 1em;
}

.right-20 {
  float: center;
  width: 20%;
  margin-bottom: 1em;
}

.accordion-button:not(.collapsed) {
  background: #c2bbbb;
  color:#ffffff;
}

.accordion-button:not(.collapsed)::after {
  background: #c2bbbb;
  color:#ffffff;
}

.accordion-button.collapsed {
  background: #e7e7e7;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #FFF !important;
  outline: 0;
  box-shadow: none;
}